.about-me {
  background-color: #ede8e9;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin-top: 50px;

  h2 {
    font-size: 35px;
    margin-bottom: 15px;
    color: rgb(107, 101, 101);
  }

  div {
    font-size: 17px;
    line-height: 1.5;
    color: #666;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    margin: 0px 80px 20px 80px;
    background-color: #fcf9fa;
  }
}

.intro-heading {
  font-size: 35px;
  font-weight: bold;
  color: rgb(107, 101, 101);
  margin-bottom: 50px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(183, 179, 179);
}
