.interests {
  background-color: #f5f0dd;
  & h2 {
    text-align: center;
  }
}

.interests-container {
  display: flex;
  justify-content: space-between;
}

.interests-card {
  background-color: #f1ead0;
  padding: 20px;
  border-radius: 8px;
  margin-right: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  border: 5px solid #f1ead0;
}
