// .projetcs {

// }
.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0px 0px 30px 0px;
  background-color: #f1ead0;
  flex-direction: column;
}

.projects-box {
  width: 80%;
  max-width: 800px;
  border: 5px solid #f5f0dd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.carousel-caption button {
  margin-top: 10px;
}
